<div class="container">
    <div class="grid">
        <div class="right">
            <h4>Hey there !</h4>
            <h1>Here is About Section</h1>
            <p>MihaiBets respects your right to privacy and is committed to protecting
                your data and using it properly. This Privacy Statement explains
                how MihaiBets processes (collects, stores, shares, uses) the personal data
                you provide to us when you visit our website and/or communicate with us
                in another way or that we generate. about you and what your rights are.
                Before providing any information to us, please read this
                Privacy Statement carefully and thoroughly.
                IF YOU DO NOT UNDERSTAND THIS PRIVACY STATEMENT, DO NOT REGISTER ON OUR WEBSITE AND
                DO NOT SHARE YOUR DATA WITH US. STAFF. You hereby confirm that the personal data you
                provide to us is provided of your own free will and will be used following the purposes
                described in this Privacy Statement.
            </p>
            <a href="ReadMore.html" class="btn">Read More</a>
            <a href="OnlineBetting.html" class="btn">Home</a>
        </div>
    </div>